Repository Lambda-School-Labs/labs10-movie-reviews, pull requests merged in 2019-03, with the labels that each got.

#111 change name to reviewer
  client/src/components/myReviews/ReviewForm.js
Labels: Feature: Client

#113 remove reviewer from error handling
  server/api/reviews/authReviewsRouter.js
Labels: Feature: Server, Status: Ready

#116 Reconfigure Database
  server/.gitignore
  server/api/authentication/authRouter.js
  server/api/configureMiddleware.js
  server/api/payments/paymentRouter.js
  server/config/keys.js
  server/config/prod.js
  server/data/migrations/development/20190213154801_users.js
  server/data/migrations/development/20190219101441_movieReviews.js
  server/data/migrations/production/20190213154801_users.js
  server/data/migrations/production/20190219101441_movieReviews.js
  server/data/seeds/development/20190219101441_movieReviews.js
  server/index.js
  server/knexfile.js
  server/package.json
  server/services/passport.js
  server/yarn.lock
Labels: Feature: Server, Status: Ready

#117 Add dotenv to correct place in package.json
  server/package.json
Labels: Feature: Server, Status: Ready

#118 Nodeupdate
  server/package.json
Labels: Feature: Server, Status: Ready

#120 Add dotenv to dependencies. Add require('dotenv').config(); to index.js in client
  client/package.json
  client/src/index.js
  client/yarn.lock
Labels: Feature: Client, Status: Ready

#121 Add debugging conditions to debug deploy
  server/api/authentication/authRouter.js
  server/api/payments/paymentRouter.js
  server/api/reviews/authReviewsRouter.js
  server/api/reviews/reviewsHelper.js
  server/api/reviews/reviewsRouter.js
  server/api/users/usersHelper.js
  server/api/users/usersRouter.js
  server/index.js
  server/services/passport.js
Labels: Feature: Server, Status: Ready

#126 install dependencies - create yarn lock
  .gitignore
  node_modules/.yarn-integrity
  yarn.lock
Labels: Feature: Server, Status: Ready

#127 Worked on edit and delete button functionality and cleaned up code
  client/src/components/home/mappedItem.css
  client/src/components/myReviews/Review.js
Labels: Feature: Client, Status: Ready

#130 Changes to knexfile
  node_modules/.yarn-integrity
  server/knexfile.js
Labels: Feature: Server, Status: Ready

#135 Edit getUsers Helper and Added getUserById
  server/api/users/usersHelper.js
Labels: Feature: Server, Status: Ready

#136 Replace usersDb.getUsers(); with usersDb.getUsersById(id);
  server/api/users/usersRouter.js
Labels: Feature: Server, Status: Ready

#139 Add .then and move history.push
  client/src/components/myReviews/ReviewForm.js
Labels: Feature: Client, Status: Ready

#140 Comment out hist.push then
  client/src/components/myReviews/ReviewForm.js
Labels: Feature: Client, Status: Ready

#141 Add id to state and res.data
  client/src/components/myReviews/ReviewForm.js
Labels: Feature: Client, Status: Ready

#142 Change googleId to id
  client/src/components/myReviews/Review.js
Labels: Feature: Client, Status: Ready

#143 Uncomment googleId in ReviewForm. Added back googleId in state.
  client/src/components/myReviews/Review.js
Labels: Feature: Client, Status: Ready

#144 Refactor to remove componentWillMount
  client/src/components/myReviews/Review.js
  client/src/components/myReviews/ReviewForm.js
Labels: Feature: Client, Status: Ready

#145 Clean up code
  client/src/components/myReviews/Review.js
  client/src/components/myReviews/ReviewForm.js
Labels: Feature: Client, Status: Ready

#147 Add feature list. Add debugger on editDeleteReviews
  client/src/components/home/Home.js
  client/src/services/currentUserURLs.js
Labels: Feature: Client, Status: Ready

#149 Debugging Update ReviewForm
  client/src/components/myReviews/ReviewForm.js
  client/src/services/currentUserURLs.js
Labels: Feature: Client, Status: Ready

#148 Edit Search Page so that captions are BELOW images
  client/src/components/home/Hero/Hero.css
  client/src/components/home/Hero/ResultCard.js
Labels: Feature: Client, Status: Ready

#150 Comment out this.props.fetchReviews();
  client/src/components/myReviews/Review.js
Labels: Feature: Client, Status: Ready

#153 Contact
  client/src/components/footer/contact/Contact.css
  client/src/components/footer/contact/Contact.js
Labels: Feature: Client, Status: Ready

#154 Make and add feature list to homepage
  client/src/components/home/FeatureList.css
  client/src/components/home/FeatureList.js
  client/src/components/home/Home.js
Labels: Feature: Client, Status: Ready

#155 Restyle Search Bar on Home Page
  client/src/components/home/Hero/Hero.css
  client/src/components/home/Hero/HeroButton.js
  client/src/components/home/Hero/HeroElement.js
  client/src/components/home/Hero/HeroInput.js
Labels: Feature: Client, Status: Ready

#158 Edit content so each card has 2 lines of content.
  client/src/components/home/FeatureList.js
Labels: Feature: Client, Status: Ready

#159 New Nav Bar
  client/src/App.js
  client/src/components/home/Hero/Hero.js
  client/src/components/home/Hero/HeroButton.js
  client/src/components/home/Hero/HeroElement.js
  client/src/components/home/Hero/HeroInput.js
  client/src/components/home/Home.js
  client/src/components/navbar/Modal.js
  client/src/components/navbar/Navbar.css
  client/src/components/navbar/TestNavigation.js
  server/services/passport.js
Labels: Feature: Client, Feature: Server, Status: Ready

#160 Add delete confirmation modal
  client/public/index.html
  client/src/components/myReviews/Review.js
Labels: Feature: Client, Status: Ready

#161 Navbar Avatar added that links to MyReviews
  client/src/components/home/Hero/HeroElement.js
  client/src/components/myReviews/MyReviews.js
  client/src/components/navbar/Navbar.css
  client/src/components/navbar/TestNavigation.js
Labels: Feature: Client, Status: Ready

#165 Restyle footer
  client/src/App.css
Labels: Feature: Client, Status: Ready

#164 Refactor all review routes
  client/src/components/myReviews/ReviewForm.js
  server/api/reviews/authReviewsRouter.js
  server/api/reviews/reviewsRouter.js
Labels: Feature: Server, Status: In Review

#166 Comment out reload and places console.log to attempt to debugg DELETE function
  client/src/components/home/FeatureList.js
  client/src/components/myReviews/Review.js
Labels: Feature: Client, Status: Ready

#170 Breaking change backend
  client/src/App.js
  client/src/components/DummyAuth/Auth.js
  client/src/components/dummyuser/DummyUser.js
  client/src/components/footer/Footer.js
  client/src/components/home/Hero/ResultCard.js
  client/src/components/home/Jumbotron.js
  client/src/components/home/MappedItem.js
  client/src/components/movieReviews/MovieRev.js
  client/src/components/movieReviews/MovieRev_wireframe.js
  client/src/components/movieReviews/UserReview.js
  client/src/components/myReviews/MyReviews.js
  client/src/components/myReviews/Review.js
  client/src/components/myReviews/ReviewForm.js
  client/src/components/navbar/Navigation.js
  client/src/components/navbar/RenderDropdown.js
  client/src/components/navbar/RenderLogin.js
  client/src/components/navbar/TestNavigation.js
  client/src/components/premium/PayButton.js
  client/src/components/premium/PremiumCard.js
  client/src/components/premium/PremiumView.js
  client/src/services/authURLs.js
  client/src/services/currentUserURLs.js
  client/src/services/paymentURLs.js
  client/src/services/resourceURLs.js
  client/src/services/reviewURLs.js
  client/src/services/userURLs.js
  server/api/authentication/authRouter.js
  server/api/payments/paymentRouter.js
  server/api/users/usersRouter.js
  server/index.js
  server/services/config.js
Labels: Feature: Client, Feature: Server

#171 Navbar refactor
  client/src/App.js
  client/src/components/home/Hero/HeroElement.js
  client/src/components/home/Hero/HeroSearch.js
  client/src/components/home/Home.js
  client/src/components/navbar/Modal.js
  client/src/components/navbar/Navbar.css
  client/src/components/navbar/ProductionNavigation.js
Labels: Feature: Client, Status: Ready

#172 Star hover effect
  client/src/components/movieReviews/MovieRev.js
  client/src/components/myReviews/ReviewForm.js
  client/src/components/stars/ratingStars.js
Labels: Feature: Client, Status: Ready

#173 Unused vars
  client/src/components/footer/contact/Contact.js
  client/src/components/home/FeatureList.js
  client/src/components/home/Home.js
  client/src/components/home/MappedItem.js
  client/src/components/movieReviews/MovieRev.js
  client/src/components/movieReviews/UserReview.js
  client/src/components/myReviews/MyReviews.js
  client/src/components/myReviews/MyReviewsList.js
  client/src/components/myReviews/Review.js
  client/src/components/myReviews/ReviewForm.js
  client/src/components/navbar/ProductionNavigation.js
  client/src/components/stars/ratingStars.js
Labels: Feature: Client, Status: Ready

#174 Fix redirect issue for Production
  server/api/authentication/authRouter.js
  server/api/payments/paymentRouter.js
Labels: Feature: DevOps, Status: Ready

#175 Popular movies2
  client/src/components/home/Home.js
  client/src/components/home/MappedItem.js
  client/src/components/home/mappedItem.css
Labels: Feature: Client, Status: Ready

#176 Refactor to make current user reviews to list on MyReviews. POST works.
  client/src/components/myReviews/MyReviews.js
  client/src/components/myReviews/ReviewForm.js
  client/src/services/reviewURLs.js
  server/api/reviews/authReviewsRouter.js
  server/api/reviews/reviewsHelper.js
  server/api/reviews/reviewsRouter.js
  server/api/users/usersHelper.js
  server/data/migrations/development/20190213154801_users.js
  server/data/migrations/development/20190219101441_movieReviews.js
Labels: Feature: Client, Feature: Server, Status: Ready

#177 Same padding for two pages, fix stars - color and rating functionality, buttons - styling
  client/src/components/movieReviews/MovieRev.css
  client/src/components/movieReviews/MovieRev.js
  client/src/components/myReviews/MyReviews.js
  client/src/components/myReviews/MyReviewsList.js
  client/src/components/myReviews/Review.js
  client/src/components/myReviews/ReviewForm.js
  client/src/components/myReviews/stars.css
Labels: Feature: Client, Status: Ready

#178 Refactor css
  client/src/components/footer/contact/Contact.css
  client/src/components/home/FeatureList.css
  client/src/components/home/Hero/Hero.css
  client/src/components/home/Hero/HeroHeader.js
  client/src/components/navbar/Navbar.css
  client/src/index.css
Labels: Feature: Client, Status: Ready

#179 Create DeleteModal with vanilla JS and style
  client/src/components/myReviews/DeleteModal.js
  client/src/components/myReviews/Modal.js
  client/src/components/myReviews/Review.js
  client/src/components/myReviews/deletemodal.css
  client/src/components/myReviews/modal.css
  client/src/components/myReviews/review.css
Labels: Feature: Client, Status: Ready

#180 Refactor css
  client/src/components/footer/Footer.css
  client/src/components/footer/Footer.js
  client/src/components/home/Hero/Hero.css
  client/src/components/navbar/Modal.js
  client/src/components/navbar/Navbar.css
  client/src/components/navbar/ProductionNavigation.js
Labels: Feature: Client, Status: In Progress, Status: In Review

#184 Adjust layout and styling on Review Card
  client/src/components/myReviews/Review.js
  client/src/components/myReviews/review.css
Labels: Feature: Client, Status: Ready

#186 Css style
  client/src/components/home/Hero/Hero.css
  client/src/components/navbar/Modal.js
  client/src/components/navbar/Navbar.css
  client/src/components/navbar/ProductionNavigation.js
Labels: Feature: Client, Status: Ready

#187 Movierev
  client/src/components/movieReviews/MovieRev.js
  client/src/components/movieReviews/UserReview.css
  client/src/components/movieReviews/UserReview.js
Labels: Feature: Client, Status: Ready

#190 Rev layout
  client/src/components/myReviews/MyReviews.js
  client/src/components/myReviews/Review.js
  client/src/components/myReviews/review.css
Labels: Feature: Client, Status: Ready

#193 Edit Styling on FeatureList and Review Card
  client/src/components/home/FeatureList.css
  client/src/components/home/FeatureList.js
  client/src/components/myReviews/review.css
Labels: Feature: Client, Status: Ready

#194 Added mobile functionality to footer
  client/src/components/footer/Footer.css
  client/src/components/footer/Footer.js
Labels: Feature: Client, Status: Ready

#195 Fix DeleteModal functionality caused by modal overlapping open delete button
  client/src/components/myReviews/DeleteModal.js
  client/src/components/myReviews/Review.js
Labels: Feature: Client, Status: Ready

#198 Comment out isUserAuthenticated for functionality debugging purposes
  server/index.js
Labels: Feature: Server, Status: Ready

#199 Clean up routes and helpers
  server/api/reviews/authReviewsRouter.js
  server/api/reviews/reviewsHelper.js
  server/api/users/usersHelper.js
Labels: Feature: Server, Status: Ready

#200 Style premium
  client/src/components/premium/PayButton.js
  client/src/components/premium/PremiumCard.js
  client/src/components/premium/PremiumView.js
  client/src/components/premium/premium.css
Labels: Feature: Client

#202 Edit delete route
  server/api/reviews/authReviewsRouter.js
Labels: Feature: Server, Status: Ready

#205 Edit let's to lets, Put isUserAuthenticated back, Add console.log for debugging and cleaned up code
  client/src/components/home/FeatureList.js
  server/api/reviews/authReviewsRouter.js
  server/index.js
Labels: Feature: Client, Feature: Server, Status: Ready

#207 Comment out 2 origins and left 1 for debugging
  server/api/configureMiddleware.js
Labels: Feature: Server, Status: Ready

#208 Switch origin back to localhost and netlify
  server/api/configureMiddleware.js
Labels: Feature: Server, Status: Ready

#206 Readme Documentation
  README.md
Labels: Feature: Documentation

#213 Move line 85 to line 80 inside promise
  client/src/components/myReviews/Review.js
Labels: Feature: Client

#214 Header bug SOLVED
  server/api/authentication/authRouter.js
Labels: Feature: Server, Status: Ready

#216 Added hover styling to delete modal confirmation button
  client/src/components/myReviews/deletemodal.css
Labels: Feature: Client, Status: Ready

#219 Edit "Popular Movies" to "Today's Popular Movies"
  client/src/components/home/Home.js
Labels: Feature: Client, Status: Ready

#220 Fix delete button from jumping to next line when clicked. Remove 'Name' from displaying. Center name of user.
  client/src/components/myReviews/MyReviews.css
  client/src/components/myReviews/MyReviews.js
  client/src/components/myReviews/Review.js
Labels: Feature: Client, Status: Ready

#222 Get user by
  client/src/App.js
  client/src/components/movieReviews/MovieRev.js
  client/src/components/movieReviews/UserReview.js
  client/src/components/myReviews/Review.js
  client/src/components/myReviews/ReviewForm.js
  client/src/components/navbar/Modal.js
  client/src/components/navbar/ProductionNavigation.js
Labels: Feature: Client, Status: Ready

#233 Backend cleanup
  README.md
  client/src/App.js
  client/src/components/home/Home.js
  client/src/components/home/mappedItem.css
  client/src/services/authURLs.js
  server/api/authentication/authRouter.js
  server/api/users/usersHelper.js
  server/data/dbConfig.js
  server/services/passport.js
Labels: Feature: Server, Status: Ready

#235 add release year to review.js
  client/src/App.js
  client/src/components/myReviews/MyReviews.js
  client/src/components/myReviews/MyReviewsList.js
  client/src/components/myReviews/Review.js
  client/src/components/premium/PremiumView.js
Labels: Feature: Client, Status: Ready

#237 Feature list refactor
  client/src/components/home/FeatureList20.css
  client/src/components/home/FeatureList20.js
  client/src/components/home/Home.js
Labels: Feature: Client, Status: Ready

#238 update README
  README.md
Labels: Feature: Documentation, Status: Ready

#241 Fixed Issue on long components where it would not scroll to top
  client/src/components/ScrollToTop.js
  client/src/index.js
Labels: Feature: Client, Status: Ready

#245 Remove inline style line. Edit css on edit button. Edit css on delete modal confirmation button.
  client/src/components/myReviews/Review.js
  client/src/components/myReviews/deletemodal.css
  client/src/components/myReviews/review.css
Labels: Feature: Client, Status: Ready

#247 Remove margin-top on css on date review card and user review card to align better with stars
  client/src/components/movieReviews/UserReview.css
  client/src/components/myReviews/review.css
Labels: Feature: Client, Status: Ready

#248 Add terms and conditions
  client/src/components/footer/terms/Terms.css
  client/src/components/footer/terms/Terms.js
Labels: Feature: Client, Status: Ready

#251 Add link to video on readme
  README.md
  thumbnail.png
Labels: Feature: Documentation

#258 Console clear
  client/src/components/DummyAuth/Auth.js
  client/src/components/home/FeatureList20.js
  client/src/components/home/Hero/HeroButton.js
  client/src/components/home/SingleMovieView.js
  client/src/components/movieReviews/MovieRev.js
  client/src/components/movieReviews/MovieRev_wireframe.js
  client/src/components/movieReviews/UserReview.js
  client/src/components/myReviews/MyReviews.js
  client/src/components/myReviews/MyReviewsList.js
  client/src/components/myReviews/Review.js
  client/src/components/myReviews/ReviewForm.js
  client/src/components/myReviews/review.css
  client/src/components/premium/PremiumView.js
  server/api/reviews/authReviewsRouter.js
Labels: Feature: Client, Status: Ready

#259 Tes
  client/src/components/myReviews/Review.js
  client/src/components/myReviews/review.css
Labels: Feature: Client, Status: Ready

#260 Error free
  client/src/components/home/Hero/ResultCard.js
  client/src/components/home/MappedItem.js
  server/api/reviews/authReviewsRouter.js
  server/api/reviews/reviewsHelper.js
  server/api/users/usersHelper.js
  server/api/users/usersRouter.js
Labels: Feature: Client, Feature: Server, Status: Ready
