Repository Lambda-School-Labs/labs10-movie-reviews, pull requests merged in 2019-02, with the labels that each got.

#2 Create react app client.
  client/.gitignore
  client/README.md
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/public/manifest.json
  client/src/App.css
  client/src/App.js
  client/src/App.test.js
  client/src/index.css
  client/src/index.js
  client/src/logo.svg
  client/src/serviceWorker.js
  client/yarn.lock
Labels: Feature: Client, Status: Ready

#3 Express
  .gitignore
  package.json
  yarn.lock
Labels: Feature: Server, Status: Ready

#4 create server folder
  server/index.js
Labels: Feature: Server, Status: Ready

#5 Update PR template
  pull_request_template.md
Labels: Documentation, Status: Ready

#6 Add prettier configuration
  .prettierrc
Labels: DevOps, Status: Ready

#7 Add netlify configs
  netlify.toml
Labels: Feature: DevOps, Status: Ready

#8 Add client deployment link
  README.md
Labels: Feature: Documentation, Status: Ready

#9 Move package json and gitignore files to server folder
  server/.gitignore
  server/package.json
Labels: Feature: Server, Status: Ready

#10 Delete yarn lock file. Not needed
  yarn.lock
Labels: Feature: Server, Status: Ready

#11 Add knex, sqlite3 & nodemon dependencies
  server/package.json
  server/yarn.lock
Labels: Feature: Server, Status: Ready

#12 update readme
  README.md
Labels: Feature: Documentation, Status: Ready

#13 Sanity check backend
  server/index.js
  server/package.json
Labels: Feature: Server, Status: Ready

#14 Add users table migration. Add knexfile.js. Update .gitignore.
  server/.gitignore
  server/data/migrations/20190213154801_users.js
  server/knexfile.js
Labels: Feature: Server, Status: Ready

#15 Add GET request for users data
  server/api/middleware.js
  server/api/routes.js
  server/api/users/userHelpers.js
  server/api/users/userRoutes.js
  server/data/dbConfig.js
  server/index.js
Labels: Feature: Server, Status: Ready

#16 Prepare for Heroku Deployment
  server/.gitignore
  server/Procfile
  server/data/dbConfig.js
  server/index.js
  server/knexfile.js
  server/package.json
  server/yarn.lock
Labels: Feature: Server, Status: Ready

#17 Add dotenv to dependency
  server/package.json
  server/yarn.lock
Labels: Feature: Server, Status: Ready

#18 Heroku configs
  server/config/dev.js
  server/config/keys.js
  server/config/prod.js
  server/knexfile.js
Labels: Feature: Server, Status: Ready

#19 Minor fixes
  server/.gitignore
  server/api/middleware.js
  server/api/users/userHelpers.js
  server/api/users/userRoutes.js
  server/config/dev.js
  server/config/keys.js
  server/index.js
Labels: Feature: Server, Status: Ready

#21 Heroku development fixes & minor additions
  client/yarn.lock
  server/config/prod.js
  server/index.js
  server/knexfile.js
  server/package.json
  server/yarn.lock
Labels: Feature: DevOps, Feature: Server, Status: Ready

#23 Remove process.env from dbConfig
  server/data/dbConfig.js
Labels: Feature: Server, Status: Ready

#24 Add heroku migrate to scripts in package.json to migrate local migrat…
  server/package.json
Labels: Feature: Server, Status: Ready

#25 Redux test
  client/package.json
  client/src/App.js
  client/src/actions/index.js
  client/src/components/Home.js
  client/src/components/MappedItem.js
  client/src/components/SingleMovieView.js
  client/src/index.js
  client/src/reducers/index.js
  client/yarn.lock
Labels: Feature: Client, Status: Ready

#26 Redux test2
  client/src/actions/index.js
  client/src/components/Home.js
  client/src/index.js
  client/src/reducers/index.js
  client/src/reducers/moviesReducer.js
Labels: Feature: Client, Status: Ready

#27 add passport related dependencies and cookie-sessions
  server/api/configureMiddleware.js
  server/package.json
  server/services/passport.js
  server/yarn.lock
Labels: Feature: Server, Status: Ready

#28 Fix passport + cookie-sessions middleware
  server/api/configureMiddleware.js
Labels: Feature: Server, Status: Ready

#29 Post request
  server/api/users/usersHelper.js
  server/api/users/usersRouter.js
Labels: Feature: Server, Status: Ready

#33 Delete user
  server/api/users/usersHelper.js
  server/api/users/usersRouter.js
Labels: Feature: Server, Status: Ready

#34 .gitignore quick fix
  client/.gitignore
Labels: Feature: Client, Status: Ready

#31 Update user
  server/api/users/usersHelper.js
  server/api/users/usersRouter.js
Labels: Feature: Server, Status: Ready

#36 Create reviews api 2
  server/api/reviews/reviewsHelper.js
  server/api/reviews/reviewsRouter.js
Labels: Feature: Server, Status: Ready

#37 Create and migrate knex reviews table
  server/data/migrations/20190219101441_movieReviews.js
Labels: Feature: Server, Status: Ready

#38 Get allreviews
  server/api/reviews/reviewsHelper.js
  server/api/reviews/reviewsRouter.js
  server/index.js
Labels: Feature: Server, Status: Ready

#39 GET user by id complete
  server/api/users/usersRouter.js
Labels: Feature: Server, Status: Ready

#43 Add passport changes to fix deserializeUser
  server/services/passport.js
Labels: Feature: Server, Status: Ready

#42 Create PUT and DELETE review routes
  server/api/reviews/reviewsHelper.js
  server/api/reviews/reviewsRouter.js
Labels: Feature: Server, Status: Ready

#44 GET review by id complete
  server/api/reviews/reviewsRouter.js
Labels: Feature: Server, Status: Ready

#45 Nav bar
  client/package.json
  client/src/App.js
  client/src/actions/index.js
  client/src/components/MappedItem.js
  client/src/components/home/Home.js
  client/src/components/home/MappedItem.js
  client/src/components/home/SingleMovieView.js
  client/src/components/home/mappedItem.css
  client/src/components/navbar/Navigation.js
  client/src/index.js
  client/yarn.lock
Labels: Feature: Client, Status: Ready

#46 React minor cleanups
  client/src/App.js
  client/src/__tests__/App.test.js
  client/src/index.js
  client/src/logo.svg
  client/src/services/serviceWorker.js
Labels: Feature: Client, Status: Ready

#47 Added options to hamburger drop down
  client/src/components/navbar/Navigation.js
Labels: Feature: Client, Status: Ready

#48 Movie review hero
  client/src/App.js
  client/src/components/home/Hero.css
  client/src/components/home/Hero.js
Labels: Feature: Client, Status: Ready

#49 Movie review hero
  client/src/components/home/Hero.css
  client/src/components/home/Hero.js
Labels: Feature: Client, Status: Ready

#50 Addings corsOptions to the server
  server/api/configureMiddleware.js
  server/package.json
  server/yarn.lock
Labels: Feature: Server, Status: Ready

#51 add dummy users
  client/src/App.js
  client/src/components/dummyuser/DummyUser.js
Labels: Feature: Client, Status: Ready

#53 refactored home page from redux into react
  client/package.json
  client/src/components/home/Home.js
  client/src/index.js
  client/yarn.lock
Labels: Feature: Client, Status: Ready

#54 My reviews list
  client/src/App.js
  client/src/components/myReviews/MyReviews.js
  client/src/components/myReviews/MyReviewsList.js
  client/src/components/myReviews/ReviewForm.js
  client/src/components/myReviews/SingleReview.js
  client/src/components/navbar/Navigation.js
  client/yarn.lock
Labels: Feature: Client, Status: Ready

#55 added My Review path
  client/src/components/navbar/Navigation.js
Labels: Feature: Client, Status: Ready

#56 Movie review hero
  client/src/App.js
  client/src/components/home/Hero/Hero.css
  client/src/components/home/Hero/Hero.js
  client/src/components/home/Hero/HeroButton.js
  client/src/components/home/Hero/HeroElement.js
  client/src/components/home/Hero/HeroHeader.js
  client/src/components/home/Hero/HeroInput.js
  client/src/components/home/Hero/ResultCard.js
  client/src/components/home/Hero/Search.js
  client/src/components/home/Hero/SearchQueryHeader.js
  client/src/components/home/Hero/SearchResults.js
Labels: Feature: Client, Status: In Progress, Status: Ready

#58 Add movieId to movieReviews table
  server/data/migrations/20190219101441_movieReviews.js
Labels: Feature: Server, Status: Ready

#59 Merge home and hero
  client/src/App.js
  client/src/components/home/Hero/Hero.js
  client/src/components/home/Hero/HeroButton.js
  client/src/components/home/Hero/HeroElement.js
  client/src/components/home/Home.js
  client/src/components/home/MappedItem.js
Labels: Feature: Client, Status: Ready

#61 Change website name
  server/api/authentication/authRouter.js
Labels: Feature: DevOps, Status: Ready

#62 Find every mention of movie-reviews.netlify.com
  README.md
  server/api/configureMiddleware.js
Labels: Feature: DevOps, Feature: Server, Status: Ready

#63 Styling Changes based on feedback from Brian
  client/package.json
  client/public/index.html
  client/src/App.js
  client/src/components/home/Hero/Hero.css
  client/src/components/home/Hero/HeroElement.js
  client/src/components/home/Hero/HeroInput.js
  client/src/components/home/Home.js
  client/src/components/home/Jumbotron.js
  client/src/components/navbar/NavSearch.js
  client/src/components/navbar/Navbar.css
  client/src/components/navbar/Navigation.js
  client/yarn.lock
Labels: Feature: Client, Status: Ready

#64 Twitter works!
  client/src/components/navbar/Navigation.js
Labels: Feature: Client, Status: Ready

#66 Add Basic Footer with required legalese to use TMDB in app
  client/src/App.js
  client/src/assets/svg/PoweredByTMDB_green.svg
  client/src/components/footer/Footer.css
  client/src/components/footer/Footer.js
  client/src/components/footer/about/About.css
  client/src/components/footer/about/About.js
  client/src/components/footer/contact/Contact.css
  client/src/components/footer/contact/Contact.js
  client/src/components/footer/privacy/PrivacyPolicy.css
  client/src/components/footer/privacy/PrivacyPolicy.js
  client/src/components/footer/terms/Terms.css
  client/src/components/footer/terms/Terms.js
Labels: Feature: Client, Status: Ready

#69 SingleReview Component feeds MyReviewsList Component with review data
  client/src/components/myReviews/MyReviews.js
  client/src/components/myReviews/MyReviewsList.js
  client/src/components/myReviews/SingleReview.js
Labels: Feature: Client, Status: Ready

#70 Add a new review
  client/src/components/myReviews/MyReviews.js
  client/src/components/myReviews/ReviewForm.js
  client/src/components/myReviews/WriteReview.js
Labels: Feature: Client, Status: Ready

#74 User table addition
  server/data/migrations/20190213154801_users.js
Labels: Feature: Server, Status: Ready

#76 Add Delete functionality to MyReviews page
  client/src/components/myReviews/MyReviews.js
  client/src/components/myReviews/MyReviewsList.js
  client/src/components/myReviews/Review.js
  client/src/components/myReviews/ReviewForm.js
  client/src/components/myReviews/SingleReview.js
Labels: Feature: Client, Status: Ready

#77 Google auth
  .gitignore
  client/src/assets/svg/btn_google_1.png
  client/src/components/navbar/Navigation.js
  client/src/services/authURLs.js
  server/api/authentication/authHelper.js
  server/api/authentication/authRouter.js
  server/config/prod.js
  server/index.js
  server/package.json
  server/services/passport.js
  server/yarn.lock
Labels: Feature: Client, Feature: Server, Status: Ready

#78 Add EDIT a review functionality to MyReviews page
  client/src/components/myReviews/Review.js
  client/src/components/myReviews/ReviewForm.js
Labels: Feature: Client, Status: In Progress

#80 Add UserProfileURL to Google Strategy
  server/services/passport.js
Labels: Feature: Server, Status: Ready

#81 Increase photo to 200 chars string
  server/data/migrations/20190213154801_users.js
Labels: Feature: Server, Status: Ready

#84 Change 'twitterhandle' to 'name' and 'username' to 'name' in movieRev…
  server/data/migrations/20190219101441_movieReviews.js
Labels: Feature: Server, Status: Ready

#88 Edit routes
  client/src/components/movieReviews/UserReview.js
  client/src/components/myReviews/MyReviews.js
  client/src/components/myReviews/MyReviews2.js
  client/src/components/myReviews/Review.js
  client/src/components/myReviews/ReviewForm.js
  client/src/components/myReviews/ReviewForm2.js
  server/api/reviews/authReviewsRouter.js
  server/index.js
Labels: Feature: Server, Status: Ready

#89 Remove typo from Line 47 in paymentRouter
  server/api/payments/paymentRouter.js
Labels: Feature: Server, Status: Ready

#90 Link search
  client/src/components/home/Hero/SearchResults.js
Labels: Feature: Client, Status: Ready

#91 Add Function to Grab User Info Upon Login -- Middleware on Backend
  client/src/components/movieReviews/UserReview.css
  client/src/components/movieReviews/UserReview.js
  client/src/components/myReviews/MyReviews.css
  client/src/components/myReviews/MyReviews.js
  client/src/components/navbar/Navbar.css
  client/src/components/navbar/Navigation.js
  server/index.js
  server/services/passport.js
Labels: Feature: Client, Feature: Server, Status: Ready

#93 Redirect to MyReviews after Updating a Review
  client/src/components/myReviews/ReviewForm.js
Labels: Feature: Client, Status: Ready

#96 Add var conditionals for editDelete routes and payment
  client/src/services/currentUserURLs.js
Labels: Feature: Client, Status: Ready

#99 Add editDeleteReviews and currentReviews variables to check if it is in production or in development
  client/src/components/myReviews/MyReviews.js
  client/src/components/myReviews/Review.js
  client/src/components/myReviews/ReviewForm.js
Labels: Feature: Client, Status: Ready

#100 Change name to reviewer in movieReviews table and authReviewsRouter
  server/api/reviews/authReviewsRouter.js
  server/data/migrations/20190219101441_movieReviews.js
Labels: Feature: Server, Status: Ready

#95 Star folder
  client/package.json
  client/src/App.js
  client/src/components/stars/ratingStars.js
  client/src/components/stars/stars.css
  client/yarn.lock
Labels: Feature: Client, Status: Ready

#101 Add a foreign key constraint to movieReviews table for reviewer column
  server/data/migrations/20190219101441_movieReviews.js
Labels: Feature: Server, Status: Ready

#102 Change name to reviewer in MyReviews, Review, and ReviewForm
  client/src/components/myReviews/MyReviews.js
  client/src/components/myReviews/Review.js
  client/src/components/myReviews/ReviewForm.js
Labels: Feature: Server, Status: Ready

#103 Remove .foreign() by commenting out
  server/data/migrations/20190219101441_movieReviews.js
Labels: Feature: Server, Status: Ready

#105 Database edit
  client/src/components/home/Home.js
  client/src/components/home/Jumbotron.js
  client/src/components/movieReviews/UserReview.js
  client/src/components/myReviews/Review.js
  client/src/components/myReviews/ReviewForm.js
  client/src/components/navbar/Navigation.js
  server/services/passport.js
Labels: Feature: Client, Feature: Server, Status: Ready

#106 Change name to reviewer
  server/data/migrations/20190213154801_users.js
Labels: Feature: Server
